/* ==UserStyle==
@name           youtube.com
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
 ytd-rich-item-renderer[rendered-from-rich-grid] {
    --ytd-rich-item-row-usable-width: calc(100% / 2 - var(--ytd-rich-grid-gutter-margin)*2);
    width: calc(var(--ytd-rich-item-row-usable-width)/var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - .01px);
}
#content.ytd-rich-section-renderer {
    max-width: var(--ytd-rich-grid-content-max-width);
    margin: 0 calc(var(--ytd-rich-grid-item-margin)/2 + var(--ytd-rich-grid-gutter-margin));
    
	/* INFO: I keep those style above for easier finding*/
    display: none;
}
}
